.cvButton {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background: #0af;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.cvButton:hover {
    background: #008ecf;
}
