/* styles/Home.module.css */

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 80px 20px 20px; /* éviter que la navbar cache */
  text-align: center;
  background-color: #0a0a0a;
  color: white;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.imageWrapper {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 112, 243, 0.8);
  margin-bottom: 20px;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 0 0 15px rgba(0, 112, 243, 0.8);
  margin-bottom: 10px;
}

.slogan {
  font-size: 1.5rem;
  max-width: 900px;
  margin: 0 auto;
  color: #bbbbbb;
}